*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: #C0C0C0 ;
color: #000000 ;
}
body{
	background-color: #C0C0C0 ;
	color: #000000 ;
}
.glyphicon{
	font-size: 30px;
	color:#000000; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: grey;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
    color: #000000;
    font-size: 30px;	
}